
    <section id="main-slider" class="carousel">
        <div class="carousel-inner">
            <div class="item active">
                <div class="container">
                    <div class="carousel-content main-text">
                        <h1 class="home-title">QUALITY</h1>
                        <h3>MOBILE HOME SERVICES</h3>
                        <p class="lead">Quality Mobile Homes Services has been in business since 1994.</p>
                    </div>
                </div>
            </div><!--/.item-->
            <div class="item">
                <div class="container">
                    <div class="carousel-content main-text">
                        <h1>QUALITY</h1>
                        <h3>MOBILE HOME SERVICES</h3>
                        <p class="lead">We are a licensed, full-service mobile home servicing company dealing with all aspects of construction; <br>from the roof to the foundation and everything in between. </p>
                    </div>
                </div>
            </div><!--/.item-->
        </div><!--/.carousel-inner-->
        <a class="prev" href="#main-slider" data-slide="prev"><i class="icon-angle-left"></i></a>
        <a class="next" href="#main-slider" data-slide="next"><i class="icon-angle-right"></i></a>
    </section><!--/#main-slider-->


