<div class="row">
  <%@services.each do |s|%>
    <div class="thumbnail col-lg-3 col-sm-4 col-xs-6">
      <img height='150' width='320px'  class="img-responsive service-image" src="<%=s['service_img_link']%>" alt="..." />
      <div class="wrapper">
        <div class="caption services-img-content">
          <h3><%=s['title']%></h3>
          <p><%=s['description']%></p> 
        </div>
      </div>
    </div>
  <%end%>
</div>