    <footer id="footer">
        <div class="container">
            <div class="row">
                <div class="col-xs-10">
                    &copy; 2016 <a target="_blank" href="http://shapebootstrap.net/" title="Quality Mobile Home Services">Quality Mobile Home Services</a>. All Rights Reserved.
                </div>
                <div class="col-xs-2">
                    <img class="pull-right footer-logo" src="assets/sample_logo.png" alt="Quallity Logo" width=61 height=52 title="Quality">
                </div>
            </div>
        </div>
    </footer><!--/#footer-->